// Common blocks
.logo {
  width: 262px;
  height: 39px;
}

.main-contacts {
  display: flex;
  flex-direction: column;
  font-style: normal;

  .link {
    // justify-content: space-between;

    &:not(:first-child) {
      margin-top: 5px;
    }
  }

  .icon {
    margin-right: 10px;
    flex-shrink: 0;
  }

  &__tel {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
  }

  &__address {
    margin-top: 10px;
    line-height: 19px;

    &-title {
      display: block;
    }
  }
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  @extend %flexCenterY;
  color: $primary-color;
  text-decoration: none;
  cursor: pointer;

  &_underlined {
    text-decoration: underline;
  }
}

.btn {
  @extend %flexCenterXY;
  height: 40px;
  padding: 0 12px;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  background: $gradient;
  box-shadow: $shadow;
  border: transparent;
  border-radius: 5px;
  cursor: pointer;

  &_alt {
    background: #fff;
    color: $accent-color;
  }
}

.icon {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &_tel {
    background-image: url(../assets/img/icons/icon--tel.svg);

    &-alt {
      width: 45px;
      height: 45px;
      background-image: url(../assets/img/icons/icon--tel-alt.svg);
    }
  }

  &_mail {
    background-image: url(../assets/img/icons/icon--mail.svg);
  }

  &_arrow-right {
    width: 38px;
    height: 17px;
    background-image: url(../assets/img/icons/icon--arrow-right.svg);
  }

  // Иконки таймлайна

  &_chevron-top {
    background-image: url(../assets/img/icons/icon--chevron-top.svg);
  }

  &_chevron-bottom {
    background-image: url(../assets/img/icons/icon--chevron-bottom.svg);
  }

  &_head {
    background-image: url(../assets/img/icons/icon--head.svg);
  }

  &_human {
    background-image: url(../assets/img/icons/icon--human.svg);
  }

  &_graph {
    background-image: url(../assets/img/icons/icon--graph.svg);
  }

  &_rub {
    background-image: url(../assets/img/icons/icon--rub.svg);
  }

  &_smile {
    background-image: url(../assets/img/icons/icon--smile.svg);
  }
}

.tel_big {
  font-weight: 600;
  font-size: 48px;
  line-height: 65px;

  .icon {
    margin-right: 20px;
  }
}

.nav {
  &__menu {
    display: flex;
    justify-content: space-around;
  }

  &__item:not(:first-child) {
    margin-left: 20px;
  }

  &__link {
    color: $menu-links-color;
  }
}

.content {
  &-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
  }
}

// Таймлайн

.timeline {
  display: flex;
  width: 100%;

  &__left-to-right-caret {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 0 13px 13px;
    border-color: transparent transparent transparent #fff;
  }

  &__item {
    @extend %flexCenterXY;
    position: relative;
    height: 26px;
    width: 20%;
    background: linear-gradient(90deg, #00C0FF 9.91%, #026687 100.04%), linear-gradient(90deg, #00D7CF 0.01%, #00C0FF 100.04%);

    &:first-child {
      border-radius: 50px 0 0 50px;
    }

    &:last-child {
      border-radius: 0 50px 50px 0;
    }

    // Правый - верхний и нижний углы (крому последнего элемента)
    &:not(:last-child)::before,
    &:not(:last-child)::after {
      content: '';
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
    }

    // Правый вверний угол
    &::before {
      top: 0;
      right: 0;
      border-width: 0 13px 13px 0;
      border-color: transparent #fff transparent transparent;
    }

    // Правый нижний угол
    &::after {
      bottom: 0;
      right: 0;
      border-width: 0 0 13px 13px;
      border-color: transparent transparent #fff transparent;
    }

    /*&:not(:first-child)::before {
      // Все псевдоклассы кроме первого элемента
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 13px 10px 13px 13px;
      border-image: transparent transparent transparent $bg-gradient;
    }*/

    /*
    &:not(:last-child)::after {
      // Все псевдоклассы кроме последнего элемента
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 13px 0 13px 13px;
      border-color: transparent transparent transparent #fff;
    }*/
  }


  &__number {
    @extend %flexCenterXY;
    width: 46px;
    height: 46px;
    color: $secondary-color;
    font-weight: normal;
    font-size: 10.6204px;
    border-radius: 50%;
    border: 7px solid #fff;
    background: linear-gradient(90deg, #00C0FF 9.91%, #026687 100.04%), linear-gradient(90deg, #00D7CF 0.01%, #00C0FF 100.04%), linear-gradient(173.66deg, #F522FF -26.4%, #2654D7 99.25%);
  }

  &__text,
  &__graph {
    position: absolute;
  }

  @mixin distanceToTimeline($placement, $distacne: 31px, $timelineItemHeight: 26px) {

    /* Описание миксина
    // Рассчитывает расстояние от основной оси (стрелок) таймлайна до элемента и правильно расположит элемент
    // Элементы: текстовый блок, графический (круги) блок
    // Принимаемые параметры:
    // 1. расположение блока (объязательно)
    // 2. расстояние от основной оси (стрелок) таймлайна до элемента (опционально)
    // 3. высота оснойной оси (стрелок таймлайна) (опционально)
    */
    @if $placement==top {
      bottom: $timelineItemHeight + $distacne
    }

    @else if $placement==bottom {
      top: $timelineItemHeight + $distacne
    }
  }

  &__text {
    text-align: center;
    word-break: break-word;

    &_top {
      @include distanceToTimeline(top)
    }

    &_bottom {
      @include distanceToTimeline(bottom)
    }
  }

  &__graph {
    &_top {
      @include distanceToTimeline(top, 55px)
    }

    &_bottom {
      @include distanceToTimeline(bottom, 55px)
    }
  }

  &__circle,
  &__disc {
    @extend %flexCenterXY;
  }

  &__circle {
    border-radius: 50%;

    &-outer {
      width: 176px;
      height: 176px;
      border: 0.75px dashed #A1A4AB;
    }

    &-inner {
      width: 145px;
      height: 145px;
      background: $gradient;
    }
  }

  &__disc {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(162.73deg, #FFFFFF 4.94%, #FCFDFC 37.88%, #F4F5F4 59.37%, #E9EBEA 73.22%);

    .icon {
      width: 50%;
      height: 50%;
    }
  }

  &__arrow {
    @extend %positionCenterX;
    position: absolute;


    &_top {
      top: -45px;

      .icon {
        &::before {
          bottom: -30px;
        }

        &::after {
          bottom: -15px;
        }
      }
    }

    &_bottom {
      bottom: -49px;

      .icon {
        &::before {
          top: -30px;
        }

        &::after {
          top: -15px;
        }
      }
    }

    .icon {
      position: relative;

      &::before,
      &::after {
        content: '';
        position: absolute;
        @extend %positionCenterX;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #6F777E;
      }


    }
  }

}