.header {
  &__container {
    height: 110px;
    display: flex;
    justify-content: space-between;
  }

  &__left-side,
  &__right-side {
    display: flex;
    align-items: center;
  }

  &-contacts {
    .link {
      justify-content: space-between;
    }
  }
}

.nav {
  margin-left: 35px;
  z-index: 20;

  &__menu {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between
  }

  &__link {

    &_active,
    &:hover {
      border: none;
      background-color: $accent-color;
      color: #fff;
    }
  }
}

button+address {
  margin-left: 50px;
}

// Кнопка меню
.menu-btn {
  // position: absolute;
  display: none;
  width: 50px;
  height: 50px;
  background-color: $accent-color;
  // display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 20;
  cursor: pointer;

  &__line {
    position: absolute;
    width: 28px;
    height: 3px;
    // margin: 3px 0;
    background-color: #fff;
    border-radius: 3px;
    transition: all .3s linear;

    &:first-child {
      transform: translateY(-6px)
    }

    &:last-child {
      transform: translateY(6px)
    }
  }
}

.menu-btn.close {
  .menu-btn__line {
    &:first-child {
      transform: rotate(45deg);
    }

    &:nth-child(2) {
      visibility: hidden;
      width: 0
    }

    &:last-child {
      transform: rotate(-45deg);
    }
  }

}

.light-box {
  display: none;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
  height: 100%;
  position: fixed; // absolute;
  top: 0;
  bottom: 0;
  z-index: 10;

  &.show {
    display: initial;
  }
}