// Большие
// min-width: 1200px
@include mediaXl {}

// max-width: 1199px
@include mediaLg {

  // Слайдер в начале страницы
  .main-slider {
    &__slide {
      padding: 30px 0
    }

    &__container {
      height: auto;
      max-width: calc(100% - 80px)
    }

    .slick {
      &-prev {
        left: 20px
      }

      &-next {
        right: 20px;
      }
    }
  }

  .contact-form__container {
    grid-template-rows: 75% 25%;
  }

  // Наши услуги
  .services {
    &__grid {
      grid-gap: 30px;
    }
  }
}

// max-width: 992px
@include mediaMd {
  .header {

    &__top-bar {
      display: none
    }

    &__container {
      max-width: 100%;
      display: flex;
      padding: 0;
    }

    &__info {
      // flex-direction: column;
      height: 80px;
      padding: 0 50px;
      flex-grow: 1;
      order: 2;
    }

    &__contacts {
      margin-top: 10px
    }
  }

  .logo {
    flex-grow: 0;
    // align-items: center
  }

  // Навигационное меню в шапке
  .nav {
    margin: 0;
    align-items: flex-end;
    order: 1;

    &__container {
      padding: 0;
      // max-width: 100%;
    }

    &__menu {
      width: 300px;
      position: absolute;
      // bottom: 8px;
      top: 80px;
      display: none;
      justify-content: space-between;
      flex-direction: column;
      background: #fff;
      // z-index: 3;

      &.show {
        display: flex;
      }
    }

    &__item {
      height: 50px;

      // &:first-child {
      //   margin-top: 15px
      // }

      // &:last-child {
      //   margin-bottom: 15px
      // }

    }

    &__link {
      justify-content: flex-start;
      padding-left: 20px;

      &_active,
      &:hover {
        border: none;
        background-color: $primary-color;
        color: #fff;
      }
    }

    &__dropdown {
      display: none !important
    }
  }

  // Кнопка меню
  .menu-btn {
    display: flex;
    width: 80px;
    height: 80px;

    &__line {
      width: 40px;
      height: 3px;

      &:first-child {
        transform: translateY(-12px)
      }

      &:last-child {
        transform: translateY(12px)
      }
    }
  }

  // Слайден в начале

  .main-slider {
    &__subtitle {
      margin-top: 10px;
    }

    &__btn {
      height: auto;
      margin-top: 10px;
      padding: 10px 20px;
      font-size: 14px;

      &-txt+.icon {
        width: 25px;
        margin-left: 15px;
      }
    }
  }

  // Секция Клиенты
  .our-clients {
    &__list {
      height: auto;
    }

    &__client {
      height: 50px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  // Секция Контактная форма
  .contact-form__container {
    grid-template-columns: auto;
  }

  .section__title {
    font-size: 25px;
    line-height: 30px;
  }

  .tel_big {
    font-size: 25px;
    line-height: normal;
  }

  .services {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 50px;
    }
  }
}

// max-width: 767px
@include mediaSm {

  // Кнопка меню
  .menu-btn {
    width: 50px;
    height: 50px;

    &__line {
      width: 26px;

      &:first-child {
        transform: translateY(-6px)
      }

      &:last-child {
        transform: translateY(6px)
      }
    }
  }

  .nav {
    &__menu {
      top: 50px
    }
  }

  .logo {
    &__img {
      width: 200px
    }
  }

  // Слайден в начале

  .main-slider {
    &__title {
      font-size: 18px;
      line-height: normal;
    }

    &__subtitle {
      font-size: 14px;
    }

    &__btn {
      font-size: 14px;

      &-txt+.icon {
        width: 50px;
      }
    }
  }

  .contact-form__container {
    height: auto;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    grid-template-areas:
      'header'
      'phone'
      'contact-form';
  }

  .tel_big {
    justify-content: center;
  }

  .form-wrapper {
    justify-self: center;
  }

  // Портфолио
  .portfolio-slider {
    &__container {
      max-width: calc(100% - 80px)
    }

    &__info {
      width: 100%;
      height: auto
    }
  }



  // Наши услуги
  .services {
    &__grid {
      grid-template-columns: 1fr;
    }

    &__service {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  // Контакты
  .contacts-section {
    height: auto;
    flex-direction: column;
  }

  .contacts {
    width: 100%;
    justify-content: center;
    padding: 30px 0
  }

  // Подвал
  .footer {

    .link {
      justify-content: center;
    }

    &__copyright {
      order: 3
    }

    &__developer {
      order: 2
    }
  }
}

// max-width: 600px
@include mediaMax-600 {
  .main-slider {
    &__container {
      flex-direction: column
    }

    &__info {
      order: 2;
      width: 100%;
      margin-top: 15px
    }

    &__btn {
      justify-content: space-around;
    }

    &__picture {
      order: 1;
      margin: 0
    }
  }
}

// max-width: 480px
@include mediaXs {

  .nav__menu {
    width: 100%;
  }

  // Клиенты
  .our-clients {
    &__list {
      height: auto;
    }

    &__client {
      display: flex !important; // Для правильного отображения в слайдере (slick)
      height: auto;
      padding: 0;
      border: none
    }

    .slick-prev,
    .slick-next {
      border-color: $primary-color;
    }

    .slick-prev {
      left: 10px;
    }

    .slick-next {
      right: 10px;
    }
  }

  // Контактная форма
  .contact-form {
    padding-top: 30px;
  }

  .form-wrapper {
    width: 100%;
    max-width: 300px;
    height: 400px;
    background-size: cover;
  }

  // Портфолио
  .portfolio-slider {
    &__btn {
      width: auto;
    }

    // 3 точки на конце текста если текст большой
    &__text {
      overflow: hidden;
      position: relative;
      line-height: 1.2em;
      max-height: 250px;
      text-align: justify;
      margin-right: -1em;
      padding-right: 1em;

      &:before {
        content: '...';
        position: absolute;
        right: 0;
        bottom: 0;
      }

      &:after {
        content: '';
        position: absolute;
        right: 0;
        width: 1em;
        height: 1em;
        margin-top: 0.2em;
        background: white;
      }
    }
  }

  // Наши услуги
  .services__service {
    width: 100%;
  }

  // Подвал
  .footer {

    &__copyright {
      order: 2
    }

    &__developer {
      order: 3
    }
  }
}