.section {
  padding-top: 50px;
  padding-bottom: 50px;

  &__title {
    font-family: $bold-font;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
  }

  &__subtitle {
    font-weight: normal;
    margin-top: 25px;
    font-size: 18px;
  }
}

// Specific blocks


// Наши клиенты
.our-clients {
  background: #F7F7F7;

  &__list {
    @extend %flexCenterY;
    height: 240px
  }

  &__client {
    @extend %flexCenterXY;
    height: 90px;
    padding-left: 45px;
    padding-right: 45px;
    border-left: 1px solid #9E9E9E;
    border-right: 1px solid #9E9E9E;
  }

  &__thumb {
    filter: grayscale(100%) brightness(180%);

    &:hover {
      filter: none
    }
  }
}

// Секция с контактнами
.contact-form {

  box-shadow: $shadow;

  // overflow: hidden;
  padding: 0;

  &__container {
    height: 385px;
    display: grid;
    grid-template-rows: 65% 35%;
    grid-template-columns: 55% 45%;
    grid-template-areas:
      'header contact-form'
      'phone contact-form';
  }

  .section__header,
  .tel_big {
    align-self: center;
  }

  .section__header {
    grid-area: header;
  }

  .tel_big {
    grid-area: phone
  }
}

.form-wrapper {
  @extend %flexCenterX;
  align-items: flex-end;

  grid-area: contact-form;
  align-self: end;
  justify-self: end;

  width: 320px;
  height: 455px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 45px;
  background: url(../assets/img/mockup-phone.png) no-repeat;
  filter: drop-shadow(-10px 0px 20px rgba(0, 0, 0, .6));
}

.form {
  &__input {
    width: 100%;
    color: #fff;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    background: transparent;
    border: transparent;
    border-bottom: 1px solid #fff;

    &:not(:first-child) {
      margin-top: 30px
    }
  }

  &__btn {
    width: 100%;
    margin-top: 25px;
  }

  &__disclaimer {
    margin-top: 10px;
    color: #fff;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
  }
}

// Портфолио
.portfolio {
  .section__title {
    margin-bottom: 40px;
    text-align: center;
  }
}

// Наши услуги
.services {
  .section__title {
    margin-bottom: 40px;
    text-align: center;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
  }
}