<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Медиасервис
    link(href='css/normalize.css', rel='stylesheet' type='text/css')
    link(href='css/bootstrap-grid.min.css', rel='stylesheet' type='text/css')
    link(href='css/jquery.fancybox.min.css', rel='stylesheet' type='text/css')
    link(href='css/main.css', rel='stylesheet' type='text/css')
  body
    header.header
      .header__container.container
        .header__left-side
          a.logo.link(href="#")
            img.logo__img(src="./assets/img/logo.svg")
          nav.nav
            .menu-btn
              .menu-btn__line
              .menu-btn__line
              .menu-btn__line

            .nav__menu-container
              ul.nav__menu.list
                li.nav__item
                  a.nav__link.link(href="#about") О компании
                li.nav__item
                  a.nav__link.link(href="#portfolio") Портфолио
                li.nav__item
                  a.nav__link.link(href="#contacts") Контакты
                li.nav__item
                  a.nav__link.link(href="#services") Услуги
              .nav__contacts
                a.link.btn.call-back(href="#") заказать звонок
                address.header__contacts.main-contacts

                  a.main-contacts__tel.link(href="tel:+79261118544")
                    i.icon.icon_tel
                    |
                    | +7(926) 111 85 44

                  a.main-contacts__mail.link(href="mailto:mediaserviceprojects@mail.ru")
                    i.icon.icon_mail
                    |
                    | mediaserviceprojects@mail.ru


        .header__right-side
          a.link.btn.call-back(href="#") заказать звонок
          address.header__contacts.main-contacts

            a.main-contacts__tel.link(href="tel:+79261118544")
              i.icon.icon_tel
              |
              | +7(926) 111 85 44

            a.main-contacts__mail.link(href="mailto:mediaserviceprojects@mail.ru")
              i.icon.icon_mail
              |
              | mediaserviceprojects@mail.ru
    
    main.main
      section.section.banner
        .main-slider
          article.main-slider__slide
            .main-slider__container.container
              .main-slider__info
                header.main-slider__header.section__header
                  h1.main-slider__title.section__title ПРОИЗВОДСТВО НАРУЖНОЙ РЕКЛАМЫ
                  h3.main-slider__subtitle Вы не заплатите, если мы не успеем в срок!
                
                a.main-slider__btn.btn.btn_alt.link(href="#")
                  span.main-slider__btn-txt бесплатная консультация
                  i.icon.icon_arrow-right
              
              .main-slider__picture
                a.main-slider__img(href="./assets/img/banner--slide.jpg" data-fancybox="main-slider")
                  img.main-slider__img(src="./assets/img/banner--slide.jpg", alt="")

          article.main-slider__slide
            .main-slider__container.container
              .main-slider__info
                header.main-slider__header.section__header
                  h1.main-slider__title.section__title ПРОИЗВОДСТВО НАРУЖНОЙ РЕКЛАМЫ
                  h3.main-slider__subtitle Вы не заплатите, если мы не успеем в срок!
                
                a.main-slider__btn.btn.btn_alt.link(href="#") бесплатная консультация
                  i.icon.icon_arrow-right
              
              .main-slider__picture
                a.main-slider__img(href="./assets/img/banner--slide.jpg" data-fancybox="main-slider")
                  img.main-slider__img(src="./assets/img/banner--slide.jpg", alt="")
          
      section.section.our-clients
        .container
          ul.our-clients__list.list
            li.our-clients__client
              a.our-clients__thumb(href="./assets/img/client--kia.png" data-fancybox="our-clients")
                img.our-clients__thumb(src="./assets/img/client--kia.png", alt="")
            li.our-clients__client
              a.our-clients__thumb(href="./assets/img/client--kia.png" data-fancybox="our-clients")
                img.our-clients__thumb(src="./assets/img/client--kia.png", alt="")
            li.our-clients__client
              a.our-clients__thumb(href="./assets/img/client--kia.png" data-fancybox="our-clients")
                img.our-clients__thumb(src="./assets/img/client--kia.png", alt="")
            li.our-clients__client
              a.our-clients__thumb(href="./assets/img/client--kia.png" data-fancybox="our-clients")
                img.our-clients__thumb(src="./assets/img/client--kia.png", alt="")
            li.our-clients__client
              a.our-clients__thumb(href="./assets/img/client--kia.png" data-fancybox="our-clients")
                img.our-clients__thumb(src="./assets/img/client--kia.png", alt="")
            li.our-clients__client
              a.our-clients__thumb(href="./assets/img/client--kia.png" data-fancybox="our-clients")
                img.our-clients__thumb(src="./assets/img/client--kia.png", alt="")
          
      section#about.section.info-graphics
        .container
          header.section__header
            h1.section__title Добро пожаловать в рекламно-производственную компанию Медиа Сервис. Компания основана в 2005 году.
          
          p.info-graphics__paragraph Со дня открытия, мы реализовали:

          .info-block

            ul.timeline.list
              li.timeline__item

                .timeline__core
                //- Номер таймлайна
                .timeline__number 01 

                //- Текст
                .timeline__text.timeline__text_bottom более 500 проект по производству наружной рекламы, выставочных стендов, торгового оборудования и многого другого.

                //- График (кружок)
                .timeline__graph.timeline__graph_top
                  //- Стрелка кружочка
                  .timeline__arrow.timeline__arrow_bottom
                    i.icon.icon_chevron-bottom

                  //- Внешняя окружность
                  .timeline__circle-outer.timeline__circle
                  
                    //- Внутренняя окружность
                    .timeline__circle-inner.timeline__circle
                      .timeline__disc
                        i.icon.icon_head
              li.timeline__item
                .timeline__core
                  //- Левая стрелка 
                  .timeline__left-to-right-caret

                //- Номер таймлайна
                .timeline__number 02 

                //- Текст
                .timeline__text.timeline__text_top более 500 проект по производству наружной рекламы, выставочных стендов, торгового оборудования и многого другого.

                //- График (кружок)
                .timeline__graph.timeline__graph_bottom
                  //- Стрелка кружочка
                  .timeline__arrow.timeline__arrow_top
                    i.icon.icon_chevron-top

                  //- Внешняя окружность
                  .timeline__circle-outer.timeline__circle
                  
                    //- Внутренняя окружность
                    .timeline__circle-inner.timeline__circle
                      .timeline__disc
                        i.icon.icon_human
              li.timeline__item
                .timeline__core
                  //- Левая стрелка 
                  .timeline__left-to-right-caret
                //- Номер таймлайна
                .timeline__number 03

                //- Текст
                .timeline__text.timeline__text_bottom более 500 проект по производству наружной рекламы, выставочных стендов, торгового оборудования и многого другого.

                //- График (кружок)
                .timeline__graph.timeline__graph_top
                  //- Стрелка кружочка
                  .timeline__arrow.timeline__arrow_bottom
                    i.icon.icon_chevron-bottom

                  //- Внешняя окружность
                  .timeline__circle-outer.timeline__circle
                  
                    //- Внутренняя окружность
                    .timeline__circle-inner.timeline__circle
                      .timeline__disc
                        i.icon.icon_graph
              li.timeline__item
                .timeline__core
                  //- Левая стрелка 
                  .timeline__left-to-right-caret

                //- Номер таймлайна
                .timeline__number 04

                //- Текст
                .timeline__text.timeline__text_top более 500 проект по производству наружной рекламы, выставочных стендов, торгового оборудования и многого другого.

                //- График (кружок)
                .timeline__graph.timeline__graph_bottom
                  //- Стрелка кружочка
                  .timeline__arrow.timeline__arrow_top
                    i.icon.icon_chevron-top

                  //- Внешняя окружность
                  .timeline__circle-outer.timeline__circle
                  
                    //- Внутренняя окружность
                    .timeline__circle-inner.timeline__circle
                      .timeline__disc
                        i.icon.icon_rub
              li.timeline__item
                .timeline__core
                  //- Левая стрелка 
                  .timeline__left-to-right-caret

                //- Номер таймлайна
                .timeline__number 05

                //- Текст
                .timeline__text.timeline__text_bottom более 500 проект по производству наружной рекламы, выставочных стендов, торгового оборудования и многого другого.

                //- График (кружок)
                .timeline__graph.timeline__graph_top
                  //- Стрелка кружочка
                  .timeline__arrow.timeline__arrow_bottom
                    i.icon.icon_chevron-bottom

                  //- Внешняя окружность
                  .timeline__circle-outer.timeline__circle
                  
                    //- Внутренняя окружность
                    .timeline__circle-inner.timeline__circle
                      .timeline__disc
                        i.icon.icon_smile
              
      section#contact-form.section.contact-form
        .contact-form__container.container
          header.section__header  
            h1.section__title Добро пожаловать в рекламно-производственную компанию Медиа Сервис.
            h3.section__subtitle Компания основана в 2005 году.

          a.tel_big.link(href="tel:+79261118544")
            i.icon.icon_tel-alt
            |+7(926) 111 85 44
          
          .form-wrapper
            form.form
              input.form__input(type="text" placeholder='Введите свой номер тел.')
              input.form__input(type="text" placeholder='Ваше имя')
              input.form__input(type="text" placeholder='Ваш Email')
              button.form__btn.btn(type="submit") Отправить заявку
              .form__disclaimer Нажав кнопку отправить вы даете согласие на обработку персональных данных

      section#portfolio.section.portfolio 
        header.section__header
          h1.section__title Портфолио

        .portfolio-slider
          .portfolio-slider__slide
            .portfolio-slider__container.container
              article.portfolio-slider__info
                header.portfolio-slider__header
                  h3.portfolio-slider__subtitle.content-subtitle Вывеска
                  h1.portfolio-slider__title.content-title KIA motors
                p.portfolio-slider__text более 500 проект по производству наружной рекламы, выставочных стендов, торгового оборудования и многого другого.более 500 проект по производству наружной рекламы, выставочных стендов, торгового оборудования и многого другого.более 500 проект по производству наружной рекламы, выставочных стендов, торгового оборудования и многого другого.
                
                footer.portfolio-slider__footer
                  button.portfolio-slider__btn.btn хочу так же!
            img.portfolio-slider__img(src="./assets/img/portfolio--slide.jpg", alt="")
          
          .portfolio-slider__slide
            .portfolio-slider__container.container
              article.portfolio-slider__info
                header.portfolio-slider__header
                  h3.portfolio-slider__subtitle Вывеска
                  h1.portfolio-slider__title KIA motors
                p.portfolio-slider__text более 500 проект по производству наружной рекламы, выставочных стендов, торгового оборудования и многого другого.более 500 проект по производству наружной рекламы, выставочных стендов, торгового оборудования и многого другого.более 500 проект по производству наружной рекламы, выставочных стендов, торгового оборудования и многого другого.
                
                footer.portfolio-slider__footer
                  button.portfolio-slider__btn.btn хочу так же!
            img.portfolio-slider__img(src="./assets/img/portfolio--slide.jpg", alt="")
   
      section#services.section.services
        header.section__header
          h1.section__title Наши услуги

        .services-container.container
          ul.services__grid.list
            li.services__service
              a.services__thumb(href="./assets/img/services--service-1.jpg" data-fancybox="services")
                img.services__img(src="./assets/img/services--service-1.jpg", alt="")
              .services__caption Объемные буквы
            li.services__service
              a.services__thumb(href="./assets/img/services--service-2.jpg" data-fancybox="services")
                img.services__img(src="./assets/img/services--service-2.jpg", alt="")
              .services__caption Бугущие строки
            li.services__service
              a.services__thumb(href="./assets/img/services--service-3.jpg" data-fancybox="services")
                img.services__img(src="./assets/img/services--service-3.jpg", alt="")
              .services__caption Рекламные щиты
            li.services__service
              a.services__thumb(href="./assets/img/services--service-1.jpg" data-fancybox="services")
                img.services__img(src="./assets/img/services--service-1.jpg", alt="")
              .services__caption Объемные буквы
            li.services__service
              a.services__thumb(href="./assets/img/services--service-2.jpg" data-fancybox="services")
                img.services__img(src="./assets/img/services--service-2.jpg", alt="")
              .services__caption Бугущие строки
            li.services__service
              a.services__thumb(href="./assets/img/services--service-3.jpg" data-fancybox="services")
                img.services__img(src="./assets/img/services--service-3.jpg", alt="")
              .services__caption Рекламные щиты
    
      section#contacts.section.contacts-section
        .contacts
          .contacts__block
            .contacts__logo
              img.logo(src="./assets/img/logo.svg", alt="media service")
            .contacts__title.content-title Контакты
            address.main-contacts.main-contacts_accent

              a.main-contacts__tel.link(href="tel:+79261118544")
                i.icon.icon_tel
                |
                | +7(926) 111 85 44

              a.main-contacts__tel.link(href="tel:+79269180019")
                i.icon.icon_tel
                |
                | +7(926) 918 00 19

              a.main-contacts__mail.link(href="mailto:mediaserviceprojects@mail.ru")
                i.icon.icon_mail
                |
                | mediaserviceprojects@mail.ru

              .main-contacts__address
                b.main-contacts__address-title Наш адрес:
                | Москва, Проспект Мира 101 В стр. 2 офис 322

        .map
    
    footer.footer
      .footer-container.container
        .row
          .footer__policy.footer__col.col-12.col-sm-6.col-md-4
            a.link(href="#") Политика конфеденциальности
          .footer__copyright.footer__col.col-12.col-sm-12.col-md-4
            .copyright Copyright 2019 Медиа Сервис
              br 
              | Все права защищен
          .footer__developer.footer__col.col-12.col-sm-6.col-md-4
            | Сайт разработан студией
            | 
            a.footer__link.link(href="#") IS ART
    .light-box
    //- Модальное окно
    .dialog
      .modal-md
        .close
        .modal-content
          form.form.form__callback
            input.form__input(type="text" placeholder='Введите свой номер тел.')
            input.form__input(type="text" placeholder='Ваше имя')
            button.form__btn.btn(type="submit") Заказать звонок
           
    script(src='./js/jquery-3.4.1.min.js')
    script(src='./js/slick.min.js')
    script(src='./js/jquery.fancybox.min.js')
    script(src='./js/main.js')
  